.bestseller{
    .title{
        color: #262626;
        margin-top: 100px;
    }
    .subtitle{
        margin-top: 50px;
    }
    .bestseller__wrapper{
        margin-top: 100px;
        padding: 0 350px;
    .bestseller__tabs{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    .bestseller__tab{
    .bestseller__name{
        font-family: Raleway;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        color: #ffffff;
        width: 270px;
        height: 48px;
        background-color: #262626;
        text-transform: uppercase;
        padding-top: 10px;
    }
    .bestseller__price{
        width: 270px;
        height: 87px;
        background-color: #f2f2f2;
        padding: 10px 47px 10px 71px;
        font-family: Lato;
        font-size: 16.5px;
        font-weight: normal;
        text-align: center;
        color: #262626;
        span{
            font-family: Lato;
            font-size: 50px;
            font-weight: 900;
            text-align: center;
            color: #262626;
        }
    }
    .bestseller__plan{
        height: 356px;
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        margin: 0;
        li{
            width: 270px;
            height: 51px;
            font-family: Lato;
            font-size: 16px;
            font-weight: normal;
            border: solid 1px #e7e7e7;
            text-align: center;
            padding-top: 14px;  
        }
    }
    }
    }
    }
}