.divider-black{
    display: flex;
    align-items: center;
    justify-content: center;
    &__left{
        width: 252px;
        height: 1px;
        background-color: #262626;
    }
    &__right{
        width: 252px;
        height: 1px;
        background-color: #262626;
    }
}

.divider-red{
    display: flex;
    align-items: center;
    justify-content: center;
    &__left{
        width: 252px;
        height: 1px;
        background-color:#ff0036;
    }
    &__right{
        width: 252px;
        height: 1px;
        background-color:#ff0036;
    }
}
