.promo{
    background: url(../../img/bg/hover.png) center (center/cover) no-repeat;
    height: 630px;
    padding: 185px 29px 0 36px;
    .subtitle{
        display: block;
        margin: 0 auto;
        font-family: Lato;
        font-size: 16px;
        font-weight: normal;
        text-align: center;
        color: #ffffff;
        margin-top: 46px;
        width: 1021px;
    }
    &__buttons{
        display: flex;
        justify-content: center;
        margin-top: 50px;
    }
    .button{
        margin: 0 15px ;
    }
}