.clients{
    height: 652px;
    background: url(../../img/bg/clients-bg.png) center (center/cover) no-repeat;
    margin-top: 50px;
    padding-top: 94px;
    .title{
        color: #fff;
    }
    .subtitle{
        margin-top: 50px;
        color: #a4a4a4;
    }
}
